* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%;
  width: 100%; }

h1 {
  font-family: Montserrat, Roboto, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 6rem; }

h2 {
  font-family: Montserrat, Roboto, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem; }

a,
a:link,
a:visited {
  color: inherit;
  transition: opactiy .1s linear;
  text-decoration: underline; }

a:hover,
a:active {
  opacity: 0.8; }

.header {
  text-align: center;
  margin: 4rem 0; }

.header-title {
  margin-bottom: 0.5rem; }

.headerAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #444;
  color: #EAEAEA;
  font-family: Montserrat, Roboto, sans-serif; }
  @media screen and (min-width: 769px) {
    .headerAdmin {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end; } }

.headerAdmin > * {
  height: 3rem;
  line-height: 3rem; }

.headerAdmin-title {
  text-transform: uppercase;
  font-weight: 700;
  order: 1;
  padding: 0 1rem; }

.headerAdmin-logout {
  order: 2;
  padding: 0 1rem; }
  @media screen and (min-width: 769px) {
    .headerAdmin-logout {
      order: 3; } }

.tabBar {
  order: 3; }
  @media screen and (min-width: 769px) {
    .tabBar {
      order: 2; } }

.tabBar {
  display: flex;
  flex-direction: row; }

.tabBar-link {
  cursor: pointer;
  transition: background-color .3s ease-out, border-width .1s linear, opacity .3s ease-out;
  border: 0 solid #d6d6d6;
  text-transform: uppercase;
  font-size: 0.85rem;
  padding: 0 1rem; }

.tabBar-link:hover {
  background-color: rgba(255, 255, 255, 0.1); }

.tabBar-link_active {
  border-bottom-width: .3rem; }

.tabBar-editing .tabBar-link {
  cursor: default;
  opacity: 0.5; }

.tabBar-editing .tabBar-link:hover {
  background-color: transparent; }

.tableAdmin {
  font-family: Montserrat, Roboto, sans-serif;
  padding: 1rem;
  overflow-x: auto;
  display: none; }

.tableAdmin-active {
  display: block; }

.tableRow {
  white-space: nowrap;
  padding: 1rem;
  background-color: #e6e6e6;
  float: left;
  clear: both;
  transition: background-color .1s ease-out, color .1s ease-out; }

.tableRow-edit {
  background-color: #b94b7e;
  color: #EAEAEA; }

.tableRow-sub {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.tableRow-sub::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.tableRow-sub > *:not(:last-child) {
  margin-right: .3rem; }

.tableRow-sub > *:not(:first-child) {
  margin-left: .3rem; }

.tableRow:not(.tableRow-header) {
  margin-top: 1rem; }

.tableRow-header {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  background-color: transparent;
  padding-bottom: 0; }

.tableRow-inForm input {
  font-family: inherit;
  position: relative; }

.tableRow-inForm input[type=text],
.tableRow-inForm input[type=password],
.tableRow-inForm input[type=number] {
  border: 0 solid rgba(234, 234, 234, 0.7);
  transition: border-width .1s linear;
  background-color: transparent;
  border-radius: 0;
  color: inherit; }

.tableRow-inForm input[type=text],
.tableRow-inForm input[type=password],
.tableRow-inForm input[type=number] {
  border: 0 solid rgba(234, 234, 234, 0.7);
  transition: border-width .1s linear, border-color .1s linear;
  background-color: transparent;
  border-radius: 0;
  border-bottom-width: 0.1rem; }

.tableRow-inForm-edit input[type=text]:focus,
.tableRow-inForm-edit input[type=password]:focus,
.tableRow-inForm-edit input[type=number]:focus {
  outline: none;
  border-color: rgba(234, 234, 234, 0.9); }

.tableRow-inForm input[type=text]:read-only,
.tableRow-inForm input[type=password]:read-only,
.tableRow-inForm input[type=number]:read-only {
  border-bottom-width: 0; }

.tableRow-inForm-button {
  width: auto;
  font-family: Montserrat, Roboto, sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  text-transform: uppercase;
  border-width: 0;
  padding: 0.3rem 0.5rem;
  letter-spacing: 2px;
  display: block;
  cursor: pointer;
  transition: .1s opacity linear; }

.tableRow-inForm-deleteButton,
.tableRow-inForm-editButton {
  opacity: 0;
  pointer-events: none;
  background-color: #222;
  color: #EAEAEA; }

.tableRow-inForm-deleteButton {
  background-color: #a83434; }

.tableRow:hover .tableRow-inForm-deleteButton,
.tableRow:hover .tableRow-inForm-editButton {
  opacity: 1;
  pointer-events: all; }

.tableAdmin-editing:hover .tableRow-inForm-deleteButton,
.tableAdmin-editing:hover .tableRow-inForm-editButton {
  opacity: 0;
  pointer-events: none; }

.tableRow-inForm-cancelButton,
.tableRow-inForm-saveButton {
  background-color: #EAEAEA;
  color: #222; }

.tableRow-inForm-button:hover {
  opacity: 0.8; }

.tableRow-inForm .tableRow-inForm-deleteButton,
.tableRow-inForm .tableRow-inForm-editButton {
  display: block; }

.tableRow-inForm .tableRow-inForm-cancelButton,
.tableRow-inForm .tableRow-inForm-saveButton {
  display: none; }

.tableRow-inForm-edit .tableRow-inForm-deleteButton,
.tableRow-inForm-edit .tableRow-inForm-editButton {
  display: none; }

.tableRow-inForm-edit .tableRow-inForm-cancelButton,
.tableRow-inForm-edit .tableRow-inForm-saveButton {
  display: block; }

.tableRow-newButton {
  width: auto;
  font-family: Montserrat, Roboto, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-width: 0;
  padding: 0.8rem 1.5rem;
  letter-spacing: 2px;
  display: block;
  cursor: pointer;
  transition: .1s opacity linear;
  background-color: #222;
  color: #EAEAEA; }

.tableRow-newButton:hover {
  opacity: 0.8; }

.entityList-item {
  vertical-align: middle;
  background-color: #bbbbbb;
  margin: 0 .3rem .3rem 0;
  float: left;
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 0.8rem;
  border-radius: 0.2rem; }

.entityList-item:last-child {
  margin: 0; }

.tableRow-inForm-edit .entityList-item {
  background-color: #722c4c; }

.entityList-item-content {
  display: inline-block;
  padding: .1rem .3rem .1rem .3rem;
  vertical-align: middle;
  transition: padding .1s ease-out; }

.entitySelector {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font: inherit;
  color: inherit;
  outline: none;
  border: none;
  background-color: inherit;
  width: 100%; }

.entitySelector-wrapper {
  padding: .3rem .3rem .3rem .3rem;
  border-radius: 0.2rem;
  background-color: #bbbbbb;
  font-size: 0.8rem;
  float: left;
  position: relative; }

.tableRow-inForm-edit .entitySelector-wrapper {
  background-color: #722c4c; }

.entityList-item-selector {
  display: inline-block;
  margin: .1rem .15rem .1rem .3rem;
  vertical-align: middle;
  background-color: #722c4c;
  font: inherit;
  color: inherit;
  outline: none;
  border: none;
  font-style: italic; }

.entityList-item-selector-wrapper {
  display: inline-block; }

.entityList-item-removeButton,
.entityList-item-addButton {
  display: inline-block;
  padding: .1rem 0 .1rem  0;
  font-size: 1.5rem;
  vertical-align: middle;
  width: 0;
  transition: width .1s ease-out, padding .1s ease-out, background-color .3s ease-out;
  text-align: center;
  overflow: hidden; }

.tableRow-inForm-edit .entityList-item-removeButton,
.tableRow-inForm-edit .entityList-item-addButton {
  width: 1.5rem;
  padding-left: .15rem;
  padding-right: .3rem;
  cursor: pointer; }

.tableRow-inForm-edit .entityList-item-removeButton:hover,
.tableRow-inForm-edit .entityList-item-addButton:hover {
  background-color: #c05d8b; }

.entityList-item-addButton[disabled],
.entityList-item-addButton[disabled]:hover {
  background-color: #722c4c;
  cursor: default;
  pointer-events: none;
  opacity: 0.3; }

.tableRow-inForm-edit .entityList-item-content {
  padding: .1rem .15rem .1rem .3rem; }

.tableUser .tableRow-sub > :nth-child(1) {
  width: 5rem; }

.tableUser .tableRow-sub > :nth-child(2) {
  width: 5rem; }

.tableUser .tableRow-sub > :nth-child(3) {
  width: 7rem; }

.tableUser .tableRow-sub > :nth-child(4) {
  width: 9rem; }

.tableUser .tableRow-sub > :nth-child(5) {
  width: 6rem; }

.tableUser .tableRow-sub > :nth-child(6) {
  width: 6rem;
  min-width: 6rem; }

.tableUser .tableRow-sub > :nth-child(7) {
  width: 7rem; }

.tableUser .tableRow-sub > :nth-child(8) {
  width: 5rem; }

.tableUser .tableRow-sub > :nth-child(9) {
  width: 5rem; }

.tableFood .tableRow-sub > :nth-child(1) {
  width: 6rem; }

.tableFood .tableRow-sub > :nth-child(2) {
  width: 12rem; }

.tableFood .tableRow-sub > :nth-child(3) {
  width: 6rem; }

.tableFood .tableRow-sub > :nth-child(4) {
  width: 9rem; }

.tableFood .tableRow-sub > :nth-child(5) {
  width: 6rem; }

.tableFood .tableRow-sub > :nth-child(6) {
  width: 6rem;
  min-width: 6rem; }

.tableFood .tableRow-sub > :nth-child(7) {
  width: 10rem; }

.tableFood .tableRow-sub > :nth-child(8) {
  width: 12rem; }

.tableVendor .tableRow-sub > :nth-child(1) {
  width: 6rem; }

.tableVendor .tableRow-sub > :nth-child(2) {
  width: 6rem; }

.tableVendor .tableRow-sub > :nth-child(3) {
  width: 12rem; }

.tableVendor .tableRow-sub > :nth-child(4) {
  width: 9rem; }

.tableVendor .tableRow-sub > :nth-child(5) {
  width: 6rem; }

.tableVendor .tableRow-sub > :nth-child(6) {
  width: 16rem; }

.loginForm,
.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center; }

.loginForm input:not(:last-child),
.registerForm input:not(:last-child) {
  margin-bottom: 1rem; }

.loginForm input[type=text],
.loginForm input[type=password],
.registerForm input[type=text] {
  width: 14rem;
  font-family: Montserrat, Roboto, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.8rem 0.8rem;
  display: block; }

.loginForm input[type=submit],
.loginForm input[type=button],
.registerForm input[type=submit],
.registerForm input[type=button] {
  width: auto;
  font-family: Montserrat, Roboto, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  border-width: 0;
  padding: 0.8rem 1.5rem;
  background-color: #222;
  color: #EAEAEA;
  letter-spacing: 2px;
  display: block;
  cursor: pointer;
  transition: .1s opacity linear; }

.loginForm input[type=submit]:hover,
.loginForm input[type=button]:hover,
.registerForm input[type=submit]:hover,
.registerForm input[type=button]:hover {
  opacity: 0.8; }

.registerStatus {
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  transition: background-color .1s linear;
  padding: 0.5rem; }

.registerStatus_error,
.loginStatus_error {
  background-color: #992d2d; }

.registerStatus_loading,
.loginStatus_loading {
  background-color: #0095cf; }

.registerStatus_success,
.loginStatus_success {
  background-color: #008332; }

.wrapperAppRegister {
  background-color: #36b3a8;
  height: 100vh;
  width: 100%;
  color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20vh; }

.registerForm-wrapper {
  text-align: center; }

.registerForm {
  margin: 0; }

.wrapperAppLogin {
  background-color: #b94b7e;
  height: 100vh;
  width: 100%;
  color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20vh; }

.loginForm-wrapper {
  text-align: center; }

.loginForm {
  margin: 0; }

/*# sourceMappingURL=main.bundle.css.map*/