.wrapperAppRegister {
    background-color: $color-background-accent;
    height: 100vh;
    width: 100%;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20vh;
}

.registerForm-wrapper {
    text-align: center;
}

.registerForm {
    margin: 0;
}