.entityList-item {
    vertical-align: middle;
    background-color: $color-med-gray;
    margin: 0 .3rem .3rem 0;
    float: left;
    font-family: $font-family-table;
    font-size: 0.8rem;
    border-radius: $border-rounding;
}

.entityList-item:last-child {
    margin: 0;
}

.tableRow-inForm-edit .entityList-item {
    background-color: darken($color-background-accent-b, 20%);
}

.entityList-item-content {
    display: inline-block;
    padding: .1rem .3rem .1rem .3rem;
    vertical-align: middle;
    transition: padding .1s ease-out;
}

.entitySelector {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font: inherit;
    color: inherit;
    outline: none;
    border: none;
    background-color: inherit;
    width: 100%;
}

.entitySelector-wrapper {
    padding: .3rem .3rem .3rem .3rem;
    border-radius: $border-rounding;
    background-color: $color-med-gray;
    font-size: 0.8rem;
    float: left;
    position: relative;
}

.tableRow-inForm-edit .entitySelector-wrapper {
    background-color: darken($color-background-accent-b, 20%);
}

.entityList-item-selector {
    display: inline-block;
    margin: .1rem .15rem .1rem .3rem;
    vertical-align: middle;
    background-color: darken($color-background-accent-b, 20%);
    font: inherit;
    color: inherit;
    outline: none;
    border: none;
    font-style: italic;
}

.entityList-item-selector-wrapper {
    display: inline-block;
}

.entityList-item-removeButton,
.entityList-item-addButton {
    display: inline-block;
    padding: .1rem 0 .1rem  0;
    font-size: 1.5rem;
    vertical-align: middle;
    width: 0;
    transition: width .1s ease-out,
                padding .1s ease-out,
                background-color .3s ease-out;
    text-align: center;
    overflow: hidden;
}

.tableRow-inForm-edit .entityList-item-removeButton,
.tableRow-inForm-edit .entityList-item-addButton {
    width: 1.5rem;
    padding-left: .15rem;
    padding-right: .3rem;
    cursor: pointer;
}

.tableRow-inForm-edit .entityList-item-removeButton:hover,
.tableRow-inForm-edit .entityList-item-addButton:hover {
    background-color: lighten($color-background-accent-b, 5%);
}

.entityList-item-addButton[disabled],
.entityList-item-addButton[disabled]:hover {
    background-color: darken($color-background-accent-b, 20%);
    cursor: default;
    pointer-events: none;
    opacity: 0.3;
}

.tableRow-inForm-edit .entityList-item-content {
    padding: .1rem .15rem .1rem .3rem;
}
