.loginForm,
.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm input:not(:last-child),
.registerForm input:not(:last-child) {
    margin-bottom: 1rem;
}

.loginForm input[type=text],
.loginForm input[type=password],
.registerForm input[type=text] {
    width: 14rem;
    font-family: $font-family-input;
    font-weight: $font-weight-input;
    font-size: $font-size-input;
    padding: 0.8rem 0.8rem;
    display: block;
}

.loginForm input[type=submit],
.loginForm input[type=button],
.registerForm input[type=submit],
.registerForm input[type=button] {
    width: auto;
    font-family: $font-family-button;
    font-weight: $font-weight-button;
    font-size: $font-size-button;
    text-transform: uppercase;
    border-width: 0;
    padding: 0.8rem 1.5rem;
    background-color: $color-black;
    color: $color-white;
    letter-spacing: 2px;
    display: block;
    cursor: pointer;
    transition: .1s opacity linear;
}

.loginForm input[type=submit]:hover,
.loginForm input[type=button]:hover,
.registerForm input[type=submit]:hover,
.registerForm input[type=button]:hover {
    opacity: 0.8;
}