.registerStatus {
    font-family: $font-family-tip;
    font-size: $font-size-tip;
    font-weight: $font-weight-tip;
    margin-bottom: 0.5rem;
    transition: background-color .1s linear;
    padding: 0.5rem;
}

.registerStatus_error,
.loginStatus_error {
    background-color: rgb(153, 45, 45);
}

.registerStatus_loading,
.loginStatus_loading {
    background-color: rgb(0, 149, 207);
}

.registerStatus_success,
.loginStatus_success {
    background-color: rgb(0, 131, 50);
}