.headerAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-dark-gray;
    color: $color-white;
    font-family: $font-family-header;

    @include media-query-min($mobile) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.headerAdmin > * {
    height: 3rem;
    line-height: 3rem;
}

.headerAdmin-title {
    text-transform: uppercase;
    font-weight: 700;
    order: 1;
    padding: 0 1rem;
}

.headerAdmin-logout {
    order: 2;
    padding: 0 1rem;

    @include media-query-min($mobile) {
        order: 3;
    }
}

.tabBar {
    order: 3;

    @include media-query-min($mobile) {
        order: 2;
    }
}