$color-background-accent: #36b3a8;
$color-background-accent-b: #b94b7e;
$color-black: #222;
$color-dark-gray: #444;
$color-med-gray: rgb(187, 187, 187);
$color-light-gray: rgb(230, 230, 230);
$color-white: #EAEAEA;

$font-family-header: Montserrat, Roboto, sans-serif;
$font-weight-header: 700;
$font-size-h1: 6rem;
$font-size-h2: 2rem;

$font-family-tip: Montserrat, Roboto, sans-serif;
$font-weight-tip: 400;
$font-size-tip: 1rem;

$font-family-input: Montserrat, Roboto, sans-serif;
$font-weight-input: 400;
$font-size-input: 1rem;

$font-family-button: Montserrat, Roboto, sans-serif;
$font-weight-button: 400;
$font-size-button: 1rem;

$font-family-table: Montserrat, Roboto, sans-serif;
$font-weight-table: 400;
$font-size-table: 1rem;

$border-rounding: .2rem;

$mobile: 768px;

@mixin media-query-max($device) {
        @media screen and (max-width: $device) {
            @content;
        }
    }

@mixin media-query-min($device) {
        @media screen and (min-width: $device + 1px) {
                @content;
        }
}

@import 'reset',
        'page',
        'header',
        'headerAdmin',
        'tabBar',
        'tableAdmin',
        'entityList',
        'tableUser',
        'tableFood',
        'tableVendor',
        'form',
        'formStatus',
        'appRegister',
        'appLogin';