html {
    height: 100%;
    width: 100%;
}

h1 {
    font-family: $font-family-header;
    font-weight: $font-weight-header;
    text-transform: uppercase;
    font-size: $font-size-h1;
}

h2 {
    font-family: $font-family-header;
    font-weight: $font-weight-header;
    text-transform: uppercase;
    font-size: $font-size-h2;
}

a,
a:link,
a:visited {
    color: inherit;
    transition: opactiy .1s linear;
    text-decoration: underline;
}

a:hover,
a:active {
    opacity: 0.8;
}