.tabBar {
    display: flex;
    flex-direction: row;
}

.tabBar-link {
    cursor: pointer;
    transition: background-color .3s ease-out,
                border-width .1s linear,
                opacity .3s ease-out;
    border: 0 solid rgb(214, 214, 214);
    text-transform: uppercase;
    font-size: 0.85rem;
    padding: 0 1rem;
}

.tabBar-link:hover {
    background-color: rgba(255,255,255,0.1);
}

.tabBar-link_active {
    border-bottom-width: .3rem;
}

.tabBar-editing .tabBar-link {
    cursor: default;
    opacity: 0.5;
}

.tabBar-editing .tabBar-link:hover {
    background-color: transparent;
}