.tableFood .tableRow-sub > :nth-child(1) {
    width: 6rem;
}

.tableFood .tableRow-sub > :nth-child(2) {
    width: 12rem;
}

.tableFood .tableRow-sub > :nth-child(3) {
    width: 6rem;
}

.tableFood .tableRow-sub > :nth-child(4) {
    width: 9rem;
}

.tableFood .tableRow-sub > :nth-child(5) {
    width: 6rem;
}

.tableFood .tableRow-sub > :nth-child(6) {
    width: 6rem;
    min-width: 6rem;
}

.tableFood .tableRow-sub > :nth-child(7) {
    width: 10rem;
}

.tableFood .tableRow-sub > :nth-child(8) {
    width: 12rem;
}
