.tableAdmin {
    font-family: $font-family-table;
    padding: 1rem;
    overflow-x: auto;
    display: none;
}

.tableAdmin-active {
    display: block;
}

.tableRow {
    white-space: nowrap;
    padding: 1rem;
    background-color: $color-light-gray;
    float: left;
    clear: both;
    transition: background-color .1s ease-out,
                color .1s ease-out;
}

.tableRow-edit {
    background-color: $color-background-accent-b;
    color: $color-white;
}

.tableRow-sub {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tableRow-sub::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; 
}

.tableRow-sub > *:not(:last-child) {
    margin-right: .3rem;
}

.tableRow-sub > *:not(:first-child) {
    margin-left: .3rem;
}

.tableRow:not(.tableRow-header) {
    margin-top: 1rem;
}

.tableRow-header {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    background-color: transparent;
    padding-bottom: 0;
}

.tableRow-inForm input {
    font-family: inherit;
    position: relative;
}

.tableRow-inForm input[type=text],
.tableRow-inForm input[type=password],
.tableRow-inForm input[type=number] {
    border: 0 solid rgba($color-white, 0.7);
    transition: border-width .1s linear;
    background-color: transparent;
    border-radius: 0;
    color: inherit;
}

.tableRow-inForm input[type=text],
.tableRow-inForm input[type=password],
.tableRow-inForm input[type=number] {
    border: 0 solid rgba($color-white, 0.7);
    transition: border-width .1s linear,
                border-color .1s linear;
    background-color: transparent;
    border-radius: 0;
    border-bottom-width: 0.1rem;
}

.tableRow-inForm-edit input[type=text]:focus,
.tableRow-inForm-edit input[type=password]:focus,
.tableRow-inForm-edit input[type=number]:focus {
    outline: none;
    border-color: rgba($color-white, 0.9)
}

.tableRow-inForm input[type=text]:read-only,
.tableRow-inForm input[type=password]:read-only,
.tableRow-inForm input[type=number]:read-only {
    border-bottom-width: 0;
}

.tableRow-inForm-button {
    width: auto;
    font-family: $font-family-button;
    font-weight: $font-weight-button;
    font-size: 0.7rem;
    text-transform: uppercase;
    border-width: 0;
    padding: 0.3rem 0.5rem;
    letter-spacing: 2px;
    display: block;
    cursor: pointer;
    transition: .1s opacity linear;
}

.tableRow-inForm-deleteButton, 
.tableRow-inForm-editButton {
    opacity: 0;
    pointer-events: none;
    background-color: $color-black;
    color: $color-white;
}

.tableRow-inForm-deleteButton {
    background-color: rgb(168, 52, 52);
}

.tableRow:hover .tableRow-inForm-deleteButton, 
.tableRow:hover .tableRow-inForm-editButton {
    opacity: 1;
    pointer-events: all;
}

.tableAdmin-editing:hover .tableRow-inForm-deleteButton, 
.tableAdmin-editing:hover .tableRow-inForm-editButton {
    opacity: 0;
    pointer-events: none;
}

.tableRow-inForm-cancelButton,
.tableRow-inForm-saveButton {
    background-color: $color-white;
    color: $color-black;
}

.tableRow-inForm-button:hover {
    opacity: 0.8;
}

.tableRow-inForm {
    .tableRow-inForm-deleteButton, 
    .tableRow-inForm-editButton {
        display: block;
    }

    .tableRow-inForm-cancelButton,
    .tableRow-inForm-saveButton {
        display: none;
    }
}

.tableRow-inForm-edit {
    .tableRow-inForm-deleteButton, 
    .tableRow-inForm-editButton {
        display: none;
    }
    

    .tableRow-inForm-cancelButton,
    .tableRow-inForm-saveButton {
        display: block;
    }
}

.tableRow-newButton {
    width: auto;
    font-family: $font-family-button;
    font-weight: $font-weight-button;
    font-size: 0.8rem;
    text-transform: uppercase;
    border-width: 0;
    padding: 0.8rem 1.5rem;
    letter-spacing: 2px;
    display: block;
    cursor: pointer;
    transition: .1s opacity linear;
    background-color: $color-black;
    color: $color-white;
}

.tableRow-newButton:hover {
    opacity: 0.8;
}