.tableUser .tableRow-sub > :nth-child(1) {
    width: 5rem;
}

.tableUser .tableRow-sub > :nth-child(2) {
    width: 5rem;
}

.tableUser .tableRow-sub > :nth-child(3) {
    width: 7rem;
}

.tableUser .tableRow-sub > :nth-child(4) {
    width: 9rem;
}

.tableUser .tableRow-sub > :nth-child(5) {
    width: 6rem;
}

.tableUser .tableRow-sub > :nth-child(6) {
    width: 6rem;
    min-width: 6rem;
}

.tableUser .tableRow-sub > :nth-child(7) {
    width: 7rem;
}

.tableUser .tableRow-sub > :nth-child(8) {
    width: 5rem;
}

.tableUser .tableRow-sub > :nth-child(9) {
    width: 5rem;
}