.tableVendor .tableRow-sub > :nth-child(1) {
    width: 6rem;
}

.tableVendor .tableRow-sub > :nth-child(2) {
    width: 6rem;
}

.tableVendor .tableRow-sub > :nth-child(3) {
    width: 12rem;
}

.tableVendor .tableRow-sub > :nth-child(4) {
    width: 9rem;
}

.tableVendor .tableRow-sub > :nth-child(5) {
    width: 6rem;
}

.tableVendor .tableRow-sub > :nth-child(6) {
    width: 16rem;
}